.contact-us {
  margin-top: 1rem;
  .contact-us-header {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    color: white;
    border-radius: 5px;
  }
  .contact-us-content {
    padding: 0;
    @media (max-width: 992px) {
      margin: 2rem 3rem;
    }
    @media (min-width: 992px) {
      margin: 2rem 10rem;
    }
  }
}

form {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
}

#contact-us-form {
  margin: 1rem 0px;
}
