@font-face {
    font-family: contentFont;
    src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}

@font-face {
    font-family: sectionHeaderFont;
    src: url('../assets/fonts/OpenSansCondensed-Bold.ttf');
}

@font-face {
    font-family: buttonTextFont;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}
