.header-container {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  color: #ffffff;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  background-size: cover;
  color: #ffffff;
  
  &__content {
    padding: 10rem 0;
  }

  &__button {
    padding-top: 2rem;
  }
}