$mobile-break: 707px;


.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 422px;
  height: 282px;
  margin: 20px 20px 20px 0;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
  

  h3 {
    background: rgba(252, 120, 28, 0.75);
    border-radius: 0px 0px 100px 0px;
    padding: 7px 30px 7px 15px;
    width: fit-content;
  }
  &-link {
    padding-left: 15px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    color: #FFFFFF;
    transition: color 1s;
  }
  &-link:hover {
    color: #fc781c;
    text-decoration: none;
  }
}