@import "../../sass/colors.scss";

.findExperience {
    &-popular_now, &-new_this_week , &-all {
        margin: 1rem auto 2rem auto;
        padding: 0;
        h3 {
            margin-left: 3rem;
        }
        &:hover h3{
            border-left: 5px solid $secondaryKyflexColor;
            padding-left: 1vw;
        }
    }
      
}

.dincholejay {
    color: red;
    font-size: 36px;
}

.btn-loadmore {
    color: $mainKyflexColor;
    opacity: 0.8;
}
.btn-loadmore:hover { cursor: pointer; opacity: 1;}

.btn-loadmore::before, .btn-loadmore::after {
    content: '------';
    margin: auto 4px;
}


